body {
    font-family: 'Palatino', 'Serif';
    font-size: 12pt;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4d96ea;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
    color: #333;
}

h2 {
    color: #4d96ea;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 14pt;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.left {
    width: 50%;
}

.right {
    width: 35%;
    text-align: center;
}

img {
    display: block;
    border: thin solid black;
    padding: 5px;
    margin: 0 auto 20px auto;
}

strong {
    font-weight: bold;
}

/* Media Query for smartphones */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .left, .right {
        width: 100%;
        padding: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 12pt;
    }

    img {
        width: 100px; /* Smaller image size */
        height: auto;
        margin-top: 10px;
    }

    body {
        font-size: 10pt; /* Smaller body text for smartphones */
    }
}
